/* Content.css */
.main-content{ 
    width: 1110px;   
    display: flex;
    justify-content: space-between;
    margin-top: 125px;
}

.main-content img{
    margin-top: 150px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.planet-card {
    display: grid;
    width: auto;
    border-radius: 8px;
    /* padding: 20px;
    margin: 10px; */
}

.content-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    /* width: clamp(200px, 50%, 500px); */
    width: 100%;
    /* background-color: aqua; */
}

.planet-card h2 {
    color: #FFF;
    font-family: Antonio;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    text-align: start;
}

.planet-card p {
    text-align: justify;
    width: 300px;
    height: 175px;
    color: #FFF;
    font-family: League Spartan;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 178.571% */
    margin-top: 23px;
    margin-left: 5px;
}

.planet-card .overview-istructure-sgeology ul{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 16px;
    margin-top: 88px;
}

.planet-card .overview-istructure-sgeology b{
    padding: 0 28px;
    opacity: 0.5;
}

.planet-card .overview-istructure-sgeology li{
    border: 1px solid rgb(255, 255, 255, 0.2);
    color: #FFF;
    font-family: League Spartan;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 208.333% */
    letter-spacing: 2.571px;
    text-transform: uppercase;
    cursor: pointer;
    width: 350px;
    height: 48px;
    text-align: justify;
    display: flex;
    align-items: center;
}

.planet-card .overview-istructure-sgeology li:hover{
    border: 1px solid transparent;
    background: rgb(255, 255, 255, 0.2);
    transition: 0.3s ease-in;
}

/* Style - Information - Section */

.information-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.information{
    width: 1110px;   
    display: flex;
    justify-content: space-between;
    margin-top: 125px;
    text-align: justify;
}

#info{
    border: 1px solid rgb(255, 255, 255, 0.2);
    width: 255px;
    height: 128px;
}

.information p{
    color: rgb(255, 255, 255, 0.5);
    font-family: League Spartan;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 227.273% */
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 23px 0 0 23px;
}

.information label{
    color: #FFF;
    font-family: Antonio;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.5px;
    text-transform: uppercase;
    margin: 0 0 0 23px;
}

.over-and-surface{
    position: absolute;
    display: grid;
    gap: 30px;
}

.geology-img{
    position: absolute; 
    left: 0; 
    right: 0; 
    top: 50%;
    margin-left: auto; 
    margin-right: auto; 
}

@media screen and (max-width: 1100px) {
    #info{
        width: 230px;
    }

}

@media screen and (max-width: 970px) {
    .main-content{ 
        width: 750px;
    }

    .content-img{   
        width: 00px;
    }

    #info{
        width: 164px;
        height: 88px;
    }

    .information p{
        font-size: 8px;
        margin: 16px 0 0 19px;
    }
    
    .information label{
        font-size: 24px;
        margin: 0 0 0 19px;
    }

    .planet-card{
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }

    .title-and-description{
        width: 333px;
    }

    .main-content{
        flex-direction: column;
        align-items: center;
    }

    .main-content img{
        margin-top: 0;
    }

    .information{
        margin: 0;
        justify-content: space-between;
        width: 750px;
    }

    .planet-card .overview-istructure-sgeology li{
        font-size: 14px;
    }
}

@media screen and (max-width: 724px) {

}