*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body{
  height: 100vh;
  background: #070724;
  background-image: url(layout/images/snow.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

.App {
  display: inlinflex;
  justify-content: center;
  text-align: center;
}
