@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
.NavbarItems{
    background: none;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    margin-top: 22px;
    /* background: #cf3535; */
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
    padding-bottom: 22px;
}

.navbar-logo{
    display: flex;
    margin-left: 32px;
}

.nav-menu{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(8, auto);
    grid-gap: 30px;
    text-align: center;
    width: 80vw;
    justify-content: end;
    margin-right: 50px;
}

.nav-links{
    display: flex;
    color: rgb(255, 255, 255, 0.5);
    font-family: League Spartan;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; 
    letter-spacing: 1px;
    background: none;
    border: none;
    cursor: pointer;
    height: 20px;
}

.nav-links.active{
    border-top: 4px solid var(--planet-bordered-color);
    color: rgb(255, 255, 255, 1);
    transition: all ease-in 0.2s;
}

.fa-bars{
    color: #fff;
}

.nav-links-mobile{
    display: none;
    color: red;
}

.menu-icon{
    display: none;
    z-index: 2;
}

.fa-bars,
.fa-times{
    color: rgb(255, 255, 255);
}

#Round{
    display: none;
}

.Arrow{
    display: none;
}

@media screen and (max-width: 970px){
    .NavbarItems{
        flex-direction: column;
        padding: 30px 0;
        margin: 0;
    }

    .nav-menu{
        justify-content: center;
        margin: 40px 0 0 0;
    }
}

@media screen and (max-width: 724px){
    .navbar-logo{
        justify-self: flex-end;
        cursor: pointer;
        margin-left: 24px;
    }

    #Round{
        display: flex;
        padding-right: 25px;
    }

    .NavbarItems{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 16px;
        padding: 0 0 16px 0;
    }

    .nav-links.active{
        border-top: none;
    }
}